# Node / Nx
node_modules/
dist/
build/
tmp/
.nx/workspace.json.lock
dist/
tmp/
.nx/
.nx/cache/
.nx/workspace-data/


# Environment variables ?


# Logs ?
*.log

# OS
.DS_Store

# Other
package-lock.json

.angular
